.vs/Carioca/DesignTimeBuild/.dtbcache.v2
.vs/Carioca/v16/.suo
Carioca/Clases/Jugador.cs
Carioca/Program.cs
Carioca/bin/Debug/netcoreapp3.1/Carioca.dll
Carioca/bin/Debug/netcoreapp3.1/Carioca.pdb
Carioca/bin/Debug/netcoreapp3.1/Carioca.runtimeconfig.dev.json
Carioca/obj/Carioca.csproj.nuget.dgspec.json
Carioca/obj/Carioca.csproj.nuget.g.props
Carioca/obj/Debug/netcoreapp3.1/Carioca.assets.cache
Carioca/obj/Debug/netcoreapp3.1/Carioca.csproj.FileListAbsolute.txt
Carioca/obj/Debug/netcoreapp3.1/Carioca.csprojAssemblyReference.cache
Carioca/obj/Debug/netcoreapp3.1/Carioca.dll
Carioca/obj/Debug/netcoreapp3.1/Carioca.pdb
Carioca/obj/project.assets.json
Carioca/obj/project.nuget.cache
